.black {
  background-color: rgb(0, 0, 0, 0.9);
  color: #fff;
  padding: 20px 0px;
  text-align: center;
}

.movie-list {
  list-style: none;
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
}

.movie-list-item {
  width: calc(15%); /* Adjust the width as per your layout */
  margin: 10px;
  background-color: #222;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  border: 2px solid transparent;
  
}

.movie-list-item:hover{
  transform: translateY(-20px);
  transition: transform 0.3s ease;
}

.movie-rating {
  position: absolute;
  top: 0px; /* Adjust as needed to position the rating box */
  right: 0px; /* Adjust as needed to position the rating box */
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
}

.rating-red {
  background-color: rgb(192, 0, 0);
}

.rating-blue {
  background-color: rgb(98, 145, 255);
}

.movie-image-container {
  position: relative; /* Necessary for positioning the rating box */
}

.movie-image {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.movie-title {
  padding: 10px;
  margin: 0;
  font-size: 18px;
  text-align:center;
  overflow: hidden;
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis;
}

h3 {
  font-size: 30px;
  text-align: center;
}

h3.movie-title {
  font-size: 15px;
}

.movie-list-item.glow-red {
  border-color: rgb(192, 0, 0);
}

.movie-list-item.glow-blue {
  border-color:rgb(98, 145, 255);
}

button {
  background-color: black;
  color:white;
  border:0px solid white;
  margin: 0px 10px;
  font-family: Poppins;
  z-index: 0;
}

button:hover {
  color:yellow;
}

.active-page {
  color: yellow;
}

.active-filter {
  color: yellow; /* Adjust the color if needed */
}

.fa-filter {
  offset-position: right 100px;
}