.movie-container {
    background: linear-gradient(to bottom, black, white);
    
}

.stream-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    height: 100vh; 
}

.movie-poster {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 10%;
    border-radius: 5px;
}

.movie-info {
    width: 50%;
    color: white; /* Adjust text color */
    margin-left: 25%;
    background-color:rgb(0, 0, 0, 0.7);
    border-radius: 10px;

}

.movie-title {
 
}

.movie-description {
    

    padding:0 5%;
}
