.search-container-wrapper {
  background-image: url('/public/img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  text-align: center;
  z-index: 0;

}


h1,p {
  font-family: 'Poppins';
  margin: 0;
  padding: 0px;
}

p {
  padding-bottom: 20px;
}

h1 span {
  color:yellow;
}

h1 {
  font-size: 10vh;
  padding-top: 5vh;
}


.search-container {
  width: 50%; /* Adjust this width as needed */
  text-align: center; /* Center align the content within the container */
  margin: 0 auto;
}

.search-results {
  width: 26%;
  padding: 0px; /* Adjust the width as needed */
  background-color: black;
  position: absolute;
  margin: 0 auto;
  left: 0%;
  right: 0%;
  z-index: 1;
  border-radius: 10px;
}


.search-input {
  width: 50%;
  height: 3vh;
  border-radius: 5px;
  border: 1px solid white; /* Add a border for better visual separation */
  padding: 8px; /* Add padding for better spacing */
  font-size: 16px; /* Adjust font size for better readability */
  outline: none; /* Remove the default focus outline */
  background-color: rgb(30, 30, 30);
  color: white;
  
}


img {
  width: 30%;
  
}

.search-result-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid transparent;
  position: relative;
}

.search-result-item-content.glow-blue {
  border-color: rgb(98, 145, 255);
}

.search-result-item-content.glow-red {
  border-color: rgb(192, 0, 0);
}



.search-result-item {
  text-decoration: none;
  color: white;
  font-size: 10px;
  text-align: left;
}

h3 {
  font-size: 15px;

}

.search-result-item-content div {
  margin-left: 10px; /* Adjust spacing between image and text */
 
}

.csfd-rating {
  position: absolute;
  right: 0%;
  top:0%;
  color: #fff;
  padding: 5px 10px;
}

